<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="git" installmissing="true"/>
    <package id="nodejs.install" installmissing="true"/>
    <package id="python" installmissing="true"/>
    <package id="azure-cli" installmissing="true"/>
    <package id="visualstudiocode" installmissing="true"/>
  </packages>
</xml>
